---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/loadquery";
import PortableText from "../../components/PortableText.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { urlForImage } from "../../sanity/lib/url-for-image";

export async function getStaticPaths() {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });

  return posts.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: post } = await loadQuery({
  query: `*[_type == "post" && slug.current == $slug][0]`,
  params,
});

console.log(post);
const imgUrl = urlForImage(post.mainImage.asset).url();
---

<Layout>
  <div class="post__container">
    <Image src={imgUrl} inferSize alt="Noticias" class="post__image" />
    <div class="post__description container__global">
      <div>
        <h1 class="post__title">{post.title}</h1>
        <div class="post__date">
          <svg
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_224_4127"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="25"
              height="25"
            >
              <rect
                x="0.899414"
                y="0.772949"
                width="24"
                height="24"
                fill="#D9D9D9"></rect>
            </mask>
            <g mask="url(#mask0_224_4127)">
              <path
                d="M6.20716 22.273C5.702 22.273 5.27441 22.098 4.92441 21.748C4.57441 21.398 4.39941 20.9704 4.39941 20.4652V7.08071C4.39941 6.57555 4.57441 6.14796 4.92441 5.79796C5.27441 5.44796 5.702 5.27296 6.20716 5.27296H7.59166V3.15771H9.13016V5.27296H16.7072V3.15771H18.2072V5.27296H19.5917C20.0968 5.27296 20.5244 5.44796 20.8744 5.79796C21.2244 6.14796 21.3994 6.57555 21.3994 7.08071V20.4652C21.3994 20.9704 21.2244 21.398 20.8744 21.748C20.5244 22.098 20.0968 22.273 19.5917 22.273H6.20716ZM6.20716 20.773H19.5917C19.6687 20.773 19.7392 20.7409 19.8032 20.6767C19.8673 20.6127 19.8994 20.5422 19.8994 20.4652V11.0807H5.89941V20.4652C5.89941 20.5422 5.9315 20.6127 5.99566 20.6767C6.05966 20.7409 6.13016 20.773 6.20716 20.773ZM5.89941 9.58071H19.8994V7.08071C19.8994 7.00371 19.8673 6.93321 19.8032 6.86921C19.7392 6.80505 19.6687 6.77296 19.5917 6.77296H6.20716C6.13016 6.77296 6.05966 6.80505 5.99566 6.86921C5.9315 6.93321 5.89941 7.00371 5.89941 7.08071V9.58071Z"
                fill="#050505"
                fill-opacity="0.7"></path>
            </g>
          </svg>
          <span>25 jun, 2025</span>
        </div>
      </div>
      <p class="post__info">
        En Expreso Vitale, entendemos que la logística no es un servicio único,
        sino un proceso estratégico donde cada fase, logística, transporte y
        distribución requiere expertise específico. Por eso, diseñamos
        soluciones a medida para optimizar costos, tiempo y seguridad en cada
        paso.
      </p>
    </div>
  </div>
  <div class="post__content">
    <PortableText portableText={post.body} />
  </div>
</Layout>

<style is:global>
  .post__container {
    background-color: var(--gray);
  }
  .post__image {
    height: 45vh;
    width: 100%;
    object-fit: cover;
  }
  .post__description {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: end;
    padding-block: 4rem;
    border-bottom: 1px solid var(--gray-dark);
  }

  .post__title {
    font-size: var(--step-2);
  }

  .post__info {
    max-width: 550px;
  }

  .post__date {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
  }

  .post__content {
    padding-block: 6rem;
    margin-inline: auto;
    padding-inline: var(--padding-x);
    max-width: 650px;
  }

  .post__content > h1 {
    font-size: var(--step-1);
  }
  .post__content > h2 {
    font-size: var(--step-0);
  }
</style>
