---
import { Image } from "astro:assets";
import clientOne from "../assets/logo-client-01.png";
import clientTwo from "../assets/logo-client-02.png";
import clientThree from "../assets/logo-client-03.png";
import clientFour from "../assets/logo-client-04.png";
import clienteFive from "../assets/logo-client-05.png";
import clienteSix from "../assets/logo-client-06.png";
import clienteSeven from "../assets/logo-client-07.png";
import clienteEight from "../assets/logo-client-08.png";
const clientes = [
  { alt: "Logo de Berry", src: clientOne },
  { alt: "Logo de Berry", src: clientTwo },
  { alt: "Logo de Berry", src: clientThree },
  { alt: "Logo de Berry", src: clientFour },
  {
    alt: "Logo de Berry",
    src: clienteFive,
  },
  {
    alt: "Logo de Berry",
    src: clienteSix,
  },
  {
    alt: "Logo de Berry",
    src: clienteSeven,
  },
  {
    alt: "Logo de Berry",
    src: clienteEight,
  },
];
---

<div class="clientes__container">
  <section class="clientes container__global">
    <div class="clientes__encabezado">
      <h2 class="clientes__titulo--animation">Clientes</h2>
      <p class="clientes__descripcion">
        Gestionamos tus mercaderías en depósitos inteligentes (12.000 m²) con
        sistemas WMS y trazabilidad digital. Ideal para reducir costos y mejorar
        tu cadena de suministro.
      </p>
    </div>

    <div class="clientes__logos">
      {
        clientes.map((cliente) => (
          <div class="clientes__logo-item">
            <Image
              class="clientes__logo-img"
              src={cliente.src}
              alt={cliente.alt}
            />
          </div>
        ))
      }
    </div>
  </section>
</div>

<style>
  .clientes {
    padding-block: 8rem;
  }

  .clientes__encabezado {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .clientes__titulo {
    font-size: var(--step-0);
    text-transform: uppercase;
    margin: 0;
    flex: 1;
  }

  .clientes__descripcion {
    flex: 1;
    margin: 0;
    max-width: 450px;
  }

  .clientes__logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    gap: 2rem;
    border-block: 1px solid var(--border-color);
    padding-block: 1.5rem;
    background-color: var(--white);
  }

  .clientes__logo-item {
    display: grid;
    place-content: center;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  .clientes__logos:has(.clientes__logo-item:hover)
    .clientes__logo-item:not(.clientes__logo-item:hover) {
    opacity: 0.5;
    filter: blur(2.5px);
  }

  .clientes__logo-img {
    max-width: 100%;
    max-height: 60px;
    object-fit: contain;
  }

  @media (max-width: 500px) {
    .clientes__encabezado {
      flex-direction: column;
    }

    .clientes {
      padding-block: 4rem;
    }

    .clientes__logos {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener("astro:page-load", (event) => {
    const logos = document.querySelectorAll(".clientes__logo-item");
    const title = document.querySelector(".clientes__titulo--animation");
    gsap.to(logos, {
      scrollTrigger: {
        trigger: title,
        start: "top bottom",
        end: "+=60%",
        scrub: true,
      },
      opacity: 1,
      stagger: 0.2,
    });
  });
</script>
