---
// Supports weights 100-900
import "@fontsource-variable/inter";
// Supports weights 400-900
import "@fontsource-variable/schibsted-grotesk";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
  }
  .container {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding-inline: 1rem;
  }
</style>
